@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

:root {
  --mainColor: rgba(0, 82, 204, 1);
  --backgroundColor: rgba(245, 245, 245);
  --white-color: rgba(255, 255, 255);
  --font-size-h1: 30px;
  --item-name-color: rgba(55, 55, 55, 1);
  --main-font-family: "Ysabeau Office", sans-serif;
  --h2-fnt-fm-contact-page: cursive;
  --h2-fs: 26px;
  --border-color: rgba(126, 126, 126, 1);
  --link-color: rgba(61, 61, 61);
}
body {
  font-family: var(--main-font-family);
}

input::placeholder {
  font-family: var(--main-font-family);
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}
.logo {
  font-weight: 800;
  color: var(--mainColor);
  font-size: 21px;
}
header {
  padding: 40px 0 0 0;
}

.logo::before {
  content: "ANY";
  color: black;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.top-nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
}

.top-nav ul li a {
  font-size: 19px;
  color: var(--link-color);
}

.top-nav ul li a:hover {
  color: var(--mainColor);
  font-weight: 700;
}

.icons-top {
  display: flex;
  gap: 15px;
}

.nav-bottom {
  background-color: var(--mainColor);
  padding: 15px 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu a:nth-child(2) {
  color: white;
  font-size: 20px;
}
.menu-wrapper {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 320px;
  padding: 12px 0 12px 60px;
  border-radius: 6px;
  border: none;
}
.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.search-input:focus {
  outline: none;
}

.search-container {
  position: relative;
  margin: 0 auto;
}

.search-icon {
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  font-size: 30px;
  margin: 10px 0 40px 0;
}

/* MAIN */
#card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px;
  row-gap: 30px;
}

.main-img {
  display: block;
  width: 100%;
  height: 200px;
}

.top-desc,
.bottom-desc {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.top-desc h2:nth-child(1) {
  font-weight: 600;
  font-size: 22px;
}

.top-desc:nth-child(2) {
  color: var(--item-name-color);
  font-size: 20px;
}

.bottom-desc h3 {
  font-size: 20px;
}

.line {
  background-color: #0052cc;
  height: 1px;
  width: 100%;
  margin-top: 20px;
}

.card {
  background-color: var(--white-color);
  padding: 20px 20px;
  border-radius: 5px;
}

.more-info {
  text-align: center;
  margin-top: 15px;
  font-size: 24px;

  color: #0052cc;
  cursor: pointer;
}

.like {
  display: block;
  width: 20px;
  height: 20px;
  fill: none;
  margin-top: 20px;
  margin: 20px auto;
  cursor: pointer;
}

.like path {
  stroke: #202020;
  stroke-linecap: round;
  stroke-linejoin: round;
}

main {
  background-color: var(--backgroundColor);
  padding-top: 30px;
  padding-bottom: 80px;
}

#pagination {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.page {
  background-color: var(--white-color);
  padding: 15px;
  cursor: pointer;
}

.page > a {
  color: #3d3d3d;
}

/* Footer */

footer {
  background-color: rgba(0, 82, 204, 1);
  padding: 40px 0 60px 0;
}

.footer-logo {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 600;
}

.footer-wrapper > nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 80px;
}

.icons {
  margin-top: 90px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.icons img {
  cursor: pointer;
}

.middle-side-footer {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 13px;
}
.middle-side-footer ul li:nth-child(n + 2) {
  padding-top: 13px;
}

.middle-side-footer ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
}

.middle-side-footer ul li {
  color: var(--white-color);
}

.right-side-footer > input {
  width: 224px;
  padding: 12px 0 10px 18px;
  border-radius: 6px;
  border-style: none;
  outline: none;
}

.right-side-footer > p {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: var(--white-color);
  width: 235px;
  margin-top: 26px;
}

/* product -page */

.images-wrapper {
  gap: 30px;
}

.images-wrapper > img {
  width: 300px;
  height: 250px;
  cursor: pointer;
  border-radius: 5px;
}

.small-images {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.small-images img {
  width: 85px;
  /* margin-top: 30px; */
  cursor: pointer;
}

.main-wrapper {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.title {
  font-size: 38px;
  font-weight: 600;
  color: var(--mainColor);
}

.stock {
  font-weight: 600;
  color: crimson;
}
.detailinform-wrapper h3 {
  font-size: 24px;
  margin-top: 12px;
  line-height: 27px;
}

.detailinform-wrapper h2 {
  font-size: var(--h2-fs);
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  color: var(--mainColor);
}

#loader {
  display: block;
  width: 48px;
  height: 48px;
  border: 5px solid #3d3d3d;
  border-bottom-color: blue;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.burger-menu {
  display: none;
}

/* contact */

.contact-sec {
  display: flex;
  justify-content: center;
}

.contact-sec h2 {
  font-weight: 700;
  font-family: var(--h2-fnt-fm-contact-page);
  color: var(--mainColor);
  text-align: center;
  font-size: var(--h2-fs);
  line-height: 42px;
}

form label {
  display: inline-block;
  line-height: 24px;
}

.input-box1,
.input-box2 {
  margin-bottom: 26px;
}

form {
  display: inline-block;
}

form > p {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  margin: 10px 0 24px 0;
}

#first_name,
#last_name {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 12px 0 12px 16px;
  margin-top: 11px;
}

.full-name {
  gap: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#email,
#tel {
  width: 100%;
  padding: 12px 0 12px 16px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  margin-top: 11px;
  height: 48px;
}
#email {
  margin-bottom: 26px;
}
#tel {
  margin-bottom: 26px;
}

#message {
  width: 100%;
  height: 133px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  margin-top: 11px;
}

#submit {
  height: 48px;
  width: 170px;
  border-radius: 6px;
  margin-top: 25px;
  background: rgba(63, 105, 255, 1);
  color: var(--white-color);
  border-style: none;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

/* about us */
.about-us-article {
  display: flex;
  gap: 50px;
}

.about-us-article h2,
.about-middle-sec h2 {
  text-align: center;
  font-size: var(--h2-fs);
}
b {
  font-weight: 900;
}

.Tphones {
  object-fit: contain !important;
}

.about-middle-sec h2 {
  margin-top: 30px;
  font-size: var(--h2-fs);
}

.about-middle-sec p,
.about-us-article p {
  text-align: center;
  line-height: 140%;
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .burger-menu > span {
    width: 35px;
    height: 3px;
    background-color: #0052cc;
  }
  .icons-top {
    display: none;
  }

  .nav-bottom-active {
    margin-top: 118px;
    transition: all 0.1s;
  }
  .navigation {
    padding: 1rem 0;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    width: 100%;
    left: -100%;
    z-index: 999;
    background-color: #0052cc;
    top: 100px;
    align-items: center;
    transition: all 1s;
  }

  .active-nav {
    padding: 1rem 0;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    width: 100%;
    left: 0%;
    z-index: 999;
    background-color: #0052cc;
    top: 100px;
    align-items: center;
    transition: all 1s;
  }

  .top-nav ul li a {
    color: white;
  }
  .top-nav ul li a:hover {
    color: initial !important;
  }

  #card-container {
    grid-template-columns: auto auto;
  }

  /* footer */

  .footer-wrapper > nav {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
  .right-side-footer input {
    width: 100%;
    max-width: 180px;
  }
  .middle-side-footer ul:nth-child(1),
  .middle-side-footer ul:nth-child(2) {
    display: none;
  }
  .footer-logo {
    font-size: 20px;
  }
  .icons {
    margin-top: 50px;
  }

  /* product page */
  .main-wrapper {
    flex-direction: column;
  }

  .images-wrapper .main-image {
    display: block;
    margin: 0 auto;
  }
  .small-images {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  #card-container {
    grid-template-columns: auto;
  }
  #pagination {
    flex-wrap: wrap;
  }
  .footer-wrapper > nav {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }
  .search-container {
    margin: initial;
  }
  .search-icon {
    left: 20px;
  }

  .search-container input {
    padding-left: 45px;
    padding-bottom: 11px;
    width: 220px;
  }
  .menu-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  /* about us */
  .about-us-article {
    flex-direction: column;
  }

  .Tphones {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 20px !important;
  }
  .footer-wrapper > nav {
    grid-template-columns: 1fr;
  }

  /* contact */
  .full-name {
    grid-template-columns: 70%;
  }

  #email,
  #tel,
  #message {
    width: 70%;
  }
  #submit {
    width: 140px;
    margin-left: initial;
  }

  /* product page */
  .small-images img {
    width: 80%;
  }
  .main-image {
    object-fit: contain;
    width: 100% !important;
  }

  .detailinform-wrapper h1,
  .detailinform-wrapper h2,
  .detailinform-wrapper h3 {
    font-size: 110%;
  }
}
